# Login in to your user on the remote server, not using 'su user', but really logging into the user account, 
# otherwise you will have problems starting the service.
# cd && mkdir -p .config/systemd/user
# cp PATH/TO/zcatch.service $HOME/.config/systemd/user/.
# systemctl --user daemon-reload
# systemctl --user enable zcatch.service
[Unit]
Description=zCatch+ Teeworlds Server

[Service]
# %h is the home directory
ExecStartPre=%h/PATH/TO/after_crash.sh
ExecStart=%h/PATH/TO/start.sh -d
Restart=always # or always, on-abort, etc
RestartSec=5

[Install]
WantedBy=default.target
